.containerFlex {
    display: flex;
    width: 100vh;
    height: auto;
}

.containerText {
    display: flex;
    width: 100%;
    justify-content: center;
    justify-items: center;
}

h1, h2, h3 {
    display: block;
    text-align: center;
    font-family: Lato;
    font-weight: bold;
}

p {
    display: block;
    text-align: justify;
    font-family: roboto;
}